*{
    margin: 0;
    padding: 0;
    
  }
  
  .pdf-container{
    width: 85%;
    height: 800px;
    background-color: #e4e4e4;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error-msg{
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
  }

  ::-webkit-file-upload-button{
    color: white;
    background: black;
    padding: 10px;
    border: none;
    border-radius: 40px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
  }
  ::-webkit-file-upload-button:hover{
    background: #438a5e;
  }